.button-area {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button-grid {
            display: grid;
            grid-template-columns: repeat(2, 800px);
            grid-template-rows: repeat(2, 320px);
            gap: 25px;
            border: 14px solid #c9c7c7;
            border-radius: 16px;
            background-color: #c9c7c7;
        }
        .nav-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 800px;
            height: 325px;
            font-size: 38px;
            /*-webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;*/
            font-size: 56px;
            border: none;
            border-radius: 16px;
            background: #4722ad;
            color: #ffffff;
            cursor: pointer;
            transition: background 0.2s;
            text-decoration: none;
            box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        }
        .nav-button:hover {
            background: #0056b3;
            border: 3px solid #fff;
        }